---
layout: page
title: About
comments: true
permalink: /about/
---

<!-- Chinese Version -->
<div class="zh post-container">


    <p>博望而约取，厚积而薄发。</p>

    <p>非淡泊无以明志；非宁静无以致远。</p><br>

    <a style="color:blue; text-indent:2em">update 2020-02-23：</a>

    <p>我是tt，一名软件开发工程师，爱好踢球。


    <p>我的社交账号有：</p>

    <table>
        <thead>
        <tr>
            <th style="text-align: center">平台</th>
            <th style="text-align: center">账号</th>
            <!--<th style="text-align: center">程度</th>-->
            <th style="text-align: center">备注</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td style="text-align: center"><a style="color:blue; text-indent:2em"><b>微信公众号</b></a></td>
            <td style="text-align: center"><a
                    href="">
                <u><b>二十二夜的雪</b></u><a style="color:cadetblue"></a></a></td>

            <td style="text-align: center"><a style="color: slategrey"><b>可搜索：</b></a>
                <a href=""
                   style="color: darkorange;"
                   target="_blank"><u><b>SnowNight22</b></u></a>
            </td>
        </tr>


        <tr>
            <td style="text-align: center"><a style="color:blue; text-indent:2em">github</a></td>
            <td style="text-align: center"><a href="https://github.com/Snownight22"
                                              target="_blank">
                <u>Snownight22;</u><a style="color:cadetblue"></a></a></td>
            <td style="text-align: center"><a style="color: slategrey">- -</a>
            </td>
        </tr>


        <tr>
            <td style="text-align: center"><a style="color:blue; text-indent:2em">微博</a></td>
            <td style="text-align: center"><a
                    href="https://weibo.com/u/1516249411"
                    target="_blank">
                <u>二十二夜的雪;</u><a style="color:cadetblue"></a></a></td>
            <td style="text-align: center"><a style="color: slategrey">- -</a>
            </td>
        </tr>

        </tbody>
    </table>

    <br>
    <p>重要的事情再说一遍：</p>
    <!--</pre>-->
    <p style="text-indent:2em">
    <div style="color:blue; text-indent:2em">微信公众号：
        <a href=""
           target="_blank">
            <u><b>二十二夜的雪</b></u><a style="color:cadetblue"></a></a>
        <a>(oukohou)</a>

    </div>
    </p>
    <!--
    <img src="../assets/imgs/wechat_official_account.png"
         width="80%"
         alt="oukohou"/>

    <p>Scan and we'll see.
    </p>
    -->

</div>


<script src="https://cdnjs.loli.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>

<p><br/><br/><br/><br/><br/><br>
<hr/><br/>不写个评论嘛：</p>
<div id="valine_comment" class="fb_comments_container"></div>
{% if site.valine.enable %}
<script>
    var notify = '{{site.valine.notify}}' === true;
    var verify = '{{site.valine.verify}}.>' === true;
    var visitor = '{{site.valine.visitor}}.>' === true;

    new Valine({
        av: AV,
        el: '#valine_comment',
        notify: notify,
        verify: verify,
        // smiles_url: '/smiles',
        visitor: visitor,
        app_id: '{{site.valine.app_id}}',
        app_key: '{{site.valine.app_key}}',
        placeholder: '{{site.valine.placeholder}}',
        avatar: '{{site.valine.avatar}}'
    });
</script>
{% endif %}
{% include comment.html %}


<!--<div id="disqus_thread"></div>-->
<!--<script>-->

<!--/**-->
<!--*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
<!--*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
<!--/*-->
<!--var disqus_config = function () {-->
<!--this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
<!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
<!--};-->
<!--*/-->
<!--(function() { // DON'T EDIT BELOW THIS LINE-->
<!--var d = document, s = d.createElement('script');-->
<!--s.src = 'https://oukohou.disqus.com/embed.js';-->
<!--s.setAttribute('data-timestamp', +new Date());-->
<!--(d.head || d.body).appendChild(s);-->
<!--})();-->
<!--</script>-->
<!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->


<!--&lt;!&ndash; Gitalk 评论 start  &ndash;&gt;-->
<!--{% if site.gitalk.enable %}-->
<!--&lt;!&ndash; Gitalk link  &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">-->
<!--<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>-->

<!--<div id="gitalk-container"></div>-->
<!--<script type="text/javascript">-->
<!--var gitalk = new Gitalk({-->
<!--clientID: '{{site.gitalk.clientID}}',-->
<!--clientSecret: '{{site.gitalk.clientSecret}}',-->
<!--repo: '{{site.gitalk.repo}}',-->
<!--owner: '{{site.gitalk.owner}}',-->
<!--pagerDirection: '{{site.gitalk.pagerDirection}}',-->
<!--admin: ['{{site.gitalk.admin}}'],-->
<!--distractionFreeMode: {{site.gitalk.distractionFreeMode}},-->
<!--id: 'about',-->
<!--});-->
<!--gitalk.render('gitalk-container');-->
<!--</script>-->
<!--{% endif %}-->
<!--&lt;!&ndash; Gitalk end &ndash;&gt;-->
