<div class="div-copyright">
  <ul class="post-copyright">
    <!--
    <li class="post-copyright-author">
      <strong>文章标题：</strong>{{ page.title }}
    </li>
    <li class="post-copyright-author">
      <strong>本文作者：</strong>{{ site.author }}
    </li>
    <li class="post-copyright-link">
      <strong>本文链接：</strong>
      <a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" title="{{ page.title }}">{{ page.url | prepend: site.baseurl }}</a>
    </li>
    -->
    <li class="post-copyright-license">
      <strong>版权声明： </strong>
      <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/cn/" 
        target="_blank" class="hide-target-icon" 
        title="本站(博客)作品全部采用知识共享署名-非商业性使用-禁止演绎 3.0 中国大陆许可协议进行许可。转载请注明出处。">
        <img alt="知识共享许可协议" src="https://i.creativecommons.org/l/by-nc-nd/3.0/cn/88x31.png">
      </a>
      </li>
  </ul>
</div>